@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
h4,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/*ヘッダー*/
.header{
    position:relative;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.51%;
    padding-right: 6.53%;
    padding-top: 10px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    box-sizing: border-box;
}
.logo{
    width: 226.7px;
}
.pc-nav ul{
    display: flex;
}
.pc-nav ul li{
    width:105px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 53px;
    font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
.pc-nav ul li:last-child{
    margin-right: 0;
}
.slider img{
    width: 100%;
}
/*メイン*/
main{
    background: #e8d9bf;
}
/*タイトル*/
.title{
    text-align: center;
    padding: 108px 0 98px 0;
    max-width: 1000px;
    margin: 0 auto;
}
.title p:nth-of-type(1){
    font-size: 30px;
}
.title p:nth-of-type(2){
    font-size: 82px;
    padding: 60px 0 50px;
    line-height: 1.170;
    font-weight: normal;
}
.title p:nth-child(3){
    font-size: 23px;
    line-height: 1.6521;
}
/*ABOUT US*/
.aboutus{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.aboutus>img{
    width:50%;
    margin: 0 auto;
    border-radius: 0 0 50px 0;
    object-fit: cover;
}
.about-box{
    width:41%;
    margin: 0 auto;
    padding-left:84px;
}
#aboutus{
    width:272.39px;
    padding:68px 160px 57px 0;
    }
.aboutus p:nth-of-type(1){
    font-size: 44px;
    line-height: 1.386;
}
.aboutus p:nth-of-type(2){
    font-size: 16px;
    padding: 40px 0;
    line-height: 1.625;
}
/*MENU*/
.menu{
    max-width: 1000px;
    margin: 0 auto;
    padding: 108px 10px 100px 10px;
}
#menu{
    margin: 0 auto;
    width:151.3853px;
    padding-bottom: 48px;
}
.box-wrap{
    display: flex;
    justify-content: space-between;
}
.box{
    width:30%;
}
.box img{
    border-radius: 0 50px 0 0;
}

.box h3{
    font-size: 38px;
    color: #d30202;
    margin-top: -12px;
    font-weight: normal;
    padding-left: 13px;
}
.box p{
    font-size: 17px;
    line-height: 1.470;
    padding-top: 24px;
}
/*gallery*/
#gallery{
    width:245.1846px;
    margin: 0 auto;
    padding-bottom: 26px;
}
.gallery img{
    width:384px;
}
.gallery ul{
    display: flex;
}
.gallery li{
    width:calc(100%/5);
}
/*EVENT*/
#event{
    width: 173.8252px;
    margin: 0 auto;
    padding:72px 0 40px 0;
}
.event-wrap{
    border: 3.6843px solid #000;
    max-width:1000px;
    background:#fff;
    margin: 0 auto;
}
.event-wrap ul{
    padding:38px 0 43px 159px;
}
.event-wrap li{
    display: flex;
    margin: 0 auto;
    font-size: 23px;
    padding-bottom: 23px;
}
.event-wrap li:nth-of-type(3){
    padding-bottom: 0;
}
time{
    padding-right: 48px;
}
.text{
    text-decoration: underline;
}
/*ACCESS*/
#access{
    max-width: 213.8354px;
    margin: 0 auto;
    padding: 79px 0 46px 0;
}
iframe{
    width:100%;
    height:471.2641px;
    display: block;

}
/*フッター*/
footer{
    background: #fff;
}
.footer-wrap{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 83px;
}
.footer-wrap>img{
    width: 226.7686px;
    height: 50.2852px;
}
.footer-wrap p:nth-of-type(1){
    font-size: 20px;
    padding-left:68px;
    text-align: left;
    line-height: 1.95;
}
.copy{
    font-size: 16px;
    text-align: center;
    padding: 78px 0;
}
#pagetop{
    position: fixed;
    bottom: 20px;
    right:20px;
    width: 125px;
}
/* ハンバーガーメニューを消す */
.humberger,
.sp-nav{
    display: none;
}
@media screen and (max-width:1100px){
    .pc-nav{
        display: none;
    }
    .humberger{
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
        height:33px;
        z-index: 999;
    }
    .humberger span{
        width: 33px;
        height:3px;
        background: #fff;
        display: block;
        position: relative;
        top:10px;
        transition: 0.3s;
    }
    .humberger span::before,
    .humberger span::after{
        width: 33px;
        height:3px;
        background: #fff;
        display: block;
        content:"";
        position: absolute;
        transition: 0.3s;
    }
    .humberger span::before{
        bottom: 10px;
    }    
    .humberger span::after{
        top:10px;
    }
    .open span{
        background: transparent;
    }
    .open span::before{
        bottom: 0;
        transform: rotate(45deg);
    }    
    .open span::after{
        top:0;
        transform: rotate(135deg);
    }
    .sp-nav{
        background: rgba(0,0,0,0.7);
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
    }
    .sp-nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sp-nav ul li{
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
.sp-nav ul li a{
    display: block;
    padding: 10px 0;
}
}
